/*.success {
    border: 2px solid green;
    color: green;
}

.error {
    border: 2px solid red;
    color: red;
}*/

.blog-item {
    padding-top: 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
}